<!DOCTYPE html>


<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Lista de productos</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
        <style>
            html, body {
                height: 100%;
            }

            body {
                display: flex;
                flex-direction: column;
            }

            footer {
                background-color: #f5f5f5;
                padding: 20px;
                text-align: center;
            }
        </style>
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #28ae85; border-radius: 10px;">
        <div class="container">
            <a class="navbar-brand" href="#">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/alumno/ListaAlumnos}">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/alumno/ListaAlumnosSP}">AlumnosSP</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/clase/dashboard}">Materias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/clase/dashboardSP}">MateriasSP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/alumno-materia}">Alumno-materia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/alumno-materia/sp}">Alumno-materiaSP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body layout:fragment="body"></body>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2023 4Team. Todos los derechos reservados.</span>
        </div>
    </footer>

</html>

